.exchange_box{
    .card{
      border: 0;
      opacity: 0.9;
      .card-header{
        background-color: #878d99;
        border-radius: 0;
        color: white;
        font-weight: 700;
      }
      .card-block{
        padding-top: 10px;
        background-color: white;
        .title{
          color: #878d99;
          font-weight: 700;
        }
        .btn-exchange{
          background-color: #5bc0de;
          border-color: #5bc0de;
          border-radius: 0;
        }
        #changevalue{
          margin-bottom: 10px;
          position: relative;
          left: 40%;
          border: none;
          background-color: white;
        }
      }
    }
  }
